SECRET=''
PORT=3000
DB_URL=''
ENABLE_SWAGGER=false
IMAGE_URL=''

REDIS_HOST=''
REDIS_PORT=6379
REDIS_USERNAME=''
REDIS_PASSWORD=''
REDIS_PREFIX=''
REDIS_DB=0

####### AZURE CONTAINER CREDENTIALS #######
AZURE_ACCOUNT_NAME=''
AZURE_ACCOUNT_KEY=''
AZURE_CONTAINER_NAME=''